:root {
    --sr-steel: #02424C;
    --sr-green: #008356;
    --sr-orange: #D47536;
    --accessible-orange: #B15D25;
    --dark-grey: #313133;
    --light-grey: #DBDDE1;
    --lighter-grey: #EDEEF0;
    --body-color: #000000;
    --link-color: #00719E;
    --max-width: 1140px;
    --default-line-height: 1.8;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus-visible {
    outline: 2px solid var(--sr-steel);
    background: color-mix(in srgb, var(--sr-green), #FFFFFF 75%);
    color: var(--sr-steel);
}

html,
body {
    max-width: 100vw;
    color: var(--body-color);
}

body {
    font-size: 16px;
    font-family: var(--font-open-sans);
    text-wrap: pretty;
}

section {
    scroll-margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat);
    color: var(--sr-steel);
}

h1, h2 {
    font-weight: 700;
}

h2, h3 {
    margin-bottom: 1rem;
}

h3 {
    font-weight: 600;
}

p {
    line-height: var(--default-line-height);
}

a {
    color: var(--link-color);
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    line-height: var(--default-line-height);
}

li {
    margin-bottom: 0.5rem;
}

li > ul {
    margin-top: 0.5rem;
}

summary {
    font-size: 1.1rem;
    font-weight: 500;
}

table svg {
    width: 1rem;
}

/* Header styles */
header {
    border-top: 10px solid var(--sr-steel);
    border-bottom: 1px solid #BBBBBB;
    position: relative;
    min-height: 100px;
    padding: 2rem 0;

    &::after {
        content: '';
        position: absolute;
        top: -10px;
        right: 0;
        width: 30%;
        height: 10px;
        border-bottom: 10px solid var(--sr-orange);
        border-left: 8px solid rgba(0, 0, 0, 0);
    }

    & > .container {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        position: unset;

        .navbar-toggler {
            border: none;

            &:focus {
                box-shadow: none;
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z'  style='fill:%2302424c' /%3E%3C/svg%3E");
            }
        }

        .navbar-collapse {
            position: absolute;
            top: calc(100% + 1px);
            right: 0;
            width: 100%;
            z-index: 9999;
            background-color: var(--lighter-grey);
            box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
        }

        .navbar-nav > .nav-item {
            margin-bottom: 0;

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--light-grey);
            }

            .nav-link {
                font-weight: 600;
                padding: 1rem 2rem;
            }
        }

        .nav-link {
            width: 100%;
            text-align: left;
            color: var(--sr-steel);
            transition: all 0.3s;

            &.show {
                background-color: var(--light-grey);
                color: var(--sr-steel);
            }

            &.show::after {
                transform: rotate(-180deg);
            }

            &.dropdown-toggle::after {
                border: 0;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E .st0 %7B fill: %2302424c; %7D %3C/style%3E%3C/defs%3E%3Cpath class='st0' d='M233.4,406.6c12.5,12.5,32.8,12.5,45.3,0l192-192c12.5-12.5,12.5-32.8,0-45.3s-32.8-12.5-45.3,0l-169.4,169.4L86.6,169.4c-12.5-12.5-32.8-12.5-45.3,0s-12.5,32.8,0,45.3l192,192h0Z'/%3E%3C/svg%3E") no-repeat;
                width: 12px;
                height: 12px;
                vertical-align: unset;
                transition: all 0.3s;
            }
        }

        .dropdown-menu {
            background: #FFFFFF;
            border: none;
            border-radius: 0;
            width: 100%;
            padding: 1rem 2rem;
            margin-top: 0;

            li:last-of-type {
                margin-bottom: 0;
            }

            a {
                color: var(--sr-steel);
                text-decoration: none;
                display: block;
                min-height: 40px;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            ul {
                padding-left: 0.5rem;
                margin-top: 0;
            }

            .icon {
                max-width: 0.75rem;
                vertical-align: middle;
            }
        }
    }
}

/* Footer styles */
footer {
    color: #FFFFFF;

    a {
        color: #FFFFFF;
    }

    .main-footer {
        background-color: var(--sr-steel);
    }


    .wordmark {
        display: flex;
        flex-direction: column;
        gap: 2px;
        color: #FFFFFF;
        line-height: 1;
    }

    .isotech {
        font-weight: 700;
        font-size: 42px;
    }

    .stratum {
        font-weight: 400;
        font-size: 14px;
        margin-left: 3px;
    }

    .copyright {
        background-color: var(--dark-grey);
        font-size: 14px;
    }
}

/* Background colors */
.steel-bg {
    background-color: var(--sr-steel);
}

.green-bg {
    background-color: var(--sr-green);
}

.orange-bg {
    background-color: var(--accessible-orange);
}

.dark-grey-bg {
    background-color: var(--dark-grey);
}

.steel-bg, .green-bg,
.orange-bg, .dark-grey-bg {
    color: #FFFFFF;

    h1, h2, a {
        color: #FFFFFF;
    }
}

.lighter-grey-bg {
    background-color: var(--lighter-grey);
}

/* Background images */
.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Font colors */
.orange-text {
    color: var(--accessible-orange);
}

.green-text {
    color: var(--sr-green);
}

.steel-text {
    color: var(--sr-steel);
}

/* Font sizes */
.fs-3rem {
    font-size: 3rem;
}

/* Font weights */
.bold-text {
    font-weight: 700;
}

/* Link buttons */
a.button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-weight: 500;
    border: 2px solid #FFFFFF;
    background-color: var(--sr-green);
    color: #FFFFFF;
    transition: all 0.3s;

    &.orange-bg {
        background-color: var(--accessible-orange);
    }

    &:hover {
        background-color: #FFFFFF;
        border: 2px solid var(--sr-green);
        color: var(--sr-green);

        &.orange-bg {
            border-color: var(--accessible-orange);
            color: var(--accessible-orange);
        }

        &.download::before {
            background-image: url("/images/icons/download-green.svg");
        }
    }

    &.download {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            background-image: url("/images/icons/download-white.svg");
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.3s;
        }
    }
}

/* Sizing */
.mw-800 {
    max-width: 800px;
    margin: 0 auto;
}

/* Padding */
.p-2rem {
    padding: 2rem;
}

/* Custom classes */
.slanted-left {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.slanted-right {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.landing-hero {
    position: relative;

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 300px;
    }

    .slanted-left {
        position: absolute;
        object-fit: cover;
        height: 300px;
        width: 100%;
        bottom: 0;
        right: 0;
    }
}

ul.questions {
    list-style: none;
    padding-left: 1rem;
    columns: 1;
    column-gap: 2.5rem;

    li {
        display: flex;
        gap: 0.75rem;
        page-break-inside: avoid;

        &::before {
            content: '';
            flex: 0 0 1rem;
            display: block;
            margin-top: 0.43rem;
            width: 1rem;
            height: 1rem;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23008356' d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z'/%3E%3C/svg%3E") no-repeat;
        }
    }
}

.tab-pane .questions {
    columns: 1;
}

.icon {
    max-width: 1.25rem;
}

.col-list {
    columns: 1;
}

/* Bootstrap overrides */
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card {
    --bs-card-spacer-y: 1.25rem;
    --bs-card-spacer-x: 1.25rem;
    color: var(--sr-steel);
    height: 100%;
    border-radius: 0;
    border-color: var(--dark-grey);
    transition: all 0.3s;

    &:has(a.stretched-link:hover) {
        background-color: var(--sr-steel);
        color: #FFFFFF;
    }

    img {
        width: 100%;;
    }
}

.card-title {
    color: var(--sr-steel);
    font-size: 1.5rem;

    a {
        color: var(--sr-steel);
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            color: #FFFFFF;
        }
    }
}

#breadcrumbs {
    background-color: var(--light-grey);
    font-size: 14px;
}

.breadcrumb-item {
    margin: 0;
    color: var(--sr-steel);
}

.breadcrumb-item.active,
.breadcrumb-item a {
    color: var(--sr-steel);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    color: var(--sr-steel);
}

.accordion-item {
    border-radius: 0 !important;
    border: 1px solid var(--dark-grey) !important;
    margin-bottom: 1rem;
}

.accordion-header button {
    color: var(--sr-steel);
    font-size: 1.25rem;
    font-weight: 600;
}

.accordion-item:first-of-type > .accordion-header .accordion-button,
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    border-radius: 0;
}

.accordion-button:not(.collapsed) {
    color: var(--sr-steel);
    background-color: var(--light-grey);
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    outline: 3px solid var(--sr-orange);
}

.nav-tabs {
    gap: 5px;
    border-color: var(--sr-green);
    border-width: 2px;
}

.nav-tabs .nav-item {
    margin-bottom: 1px;
}

.nav-tabs .nav-link {
    color: var(--body-color);
    border: 1px solid var(--light-grey);
    border-bottom: 0;
}

.nav-tabs .nav-link:hover {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-bottom: 0;
}

.nav-tabs .nav-link.active {
    font-weight: 600;
    background-color: var(--sr-green);
    color: #FFFFFF;
}

.nav-tabs.flex-column {
    border-bottom: 0;
    gap: 0;
    background: var(--lighter-grey);
}

.nav-tabs.flex-column .nav-link {
    width: 100%;
    text-align: left;
    border: 0;
    border-bottom: 1px solid var(--light-grey);
    border-radius: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.nav-tabs.flex-column .nav-item:last-of-type .nav-link {
    border-bottom: none;
}

.nav-tabs.flex-column .nav-link.active::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url('../../public/images/icons/chevron-right-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.table > :not(caption) > * > * {
    padding: 0.75rem;
}

.table th {
    background-color: var(--sr-steel);
    color: #FFFFFF;
    padding: 1rem 0.75rem;
}

.figure-caption::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: var(--sr-orange);
    margin-top: 0.5rem;
}

.btn {
    border-radius: 0;
    border: 2px solid #FFFFFF;

    &.green-bg:hover,
    &.green-bg:focus-visible {
        border-color: var(--sr-green);
        color: var(--sr-green);
    }

    &.dark-grey-bg:hover,
    &.dark-grey-bg:focus-visible {
        border-color: var(--dark-grey);
        color: var(--dark-grey);
    }
}

.modal-dialog {
    max-width: 800px;
}

.modal-content {
    border-radius: 0;
}

/* Responsive styles */
@media screen and (min-width: 992px) {
    header {
        .navbar {
            .navbar-collapse {
                position: unset;
                box-shadow: none;
                padding: 0;
                background-color: transparent;
            }

            .navbar-nav > .nav-item {
                &:not(:last-of-type) {
                    border-bottom: none;
                }

                .nav-link {
                    padding: 0 0.75rem;
                }
            }
    
            .nav-link {
                &.show {
                    background-color: transparent;
                    text-decoration: underline;
                    text-decoration-color: var(--sr-orange);
                    text-decoration-thickness: 3px;
                    text-underline-offset: 5px;
                }
    
            }

            .dropdown-menu {
                background: none;
                padding: 0;
                margin-top: 1px;

                & > li {
                    background: #FFFFFF;
                    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
                    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.25);
                    padding: 2rem 2.5rem;
                    min-height: 300px;
                    max-width: 1320px;
                    margin: 0 auto;

                    & > a {
                        font-size: 1.25rem;
                    }
                }

                a {
                    display: inline-block;
                }

                ul {
                    padding-left: 0;
                }
            }
        }
    }

    .w-lg-50 {
        width: 50%;
    }

    header > .container {
        align-items: flex-end;
    }

    ul.questions {
        columns: 2;
    }

    .col-list {
        columns: 2;
        column-gap: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .slanted-left {
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    .slanted-right {
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    }
    
    .landing-hero {

        .container {
            grid-template-columns: 1fr 42%;
            grid-template-rows: 100%;
        }

        .slanted-left {
            height: 100%;
            width: 42%;
            top: 0;
        }

    }
}