.hero {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;

    & > div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    h2 {
        z-index: 1;
        position: relative;
    }

    h2::after {
        content: '';
        width: 0px;
        height: 2px;
        background-color: #FFFFFF;
        display: block;
        margin: 5px auto 0;
        visibility: hidden;
        transition: all 0.3s ease-in;
    }

    h2:has(a:hover)::after {
        visibility: visible;
        width: 100%;
        transition: all 0.3s ease-out;
    }
}

.services, .products {
    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    &::before {
        background-size: cover;
        background-position: center;
        filter: grayscale(1);
    }

    &::after {
        opacity: 0.85;
    }
}

.services {
    background-color: var(--sr-green);

    &::before {
        background-image: url('/images/lab-placeholder.jpg');
    }

    &::after {
        background-color: var(--sr-green);
    }
}

.products {
    background-color: var(--sr-steel);
    top: -41px;
    margin-bottom: -40px;

    &::before {
        background-image: url('/images/pexels-pixabay-248152.jpg');
    }

    &::after {
        background-color: var(--sr-steel);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
    }

    .services {
        margin-right: -70px;
    }

    .products {
        margin-left: -70px;
        top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1600px) {
    .services {
        margin-right: -90px;
    }

    .products {
        margin-left: -90px;
        top: 0;
        margin-bottom: 0;
    }
}