.services-card {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(1);
        transition: all 0.3s;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--sr-steel);
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.3s;
    }

    .card-body {
        z-index: 2;
    }

    .card-title a {
        color: #FFFFFF;
    }

    &:has(a:hover) {
        &::before {
            background-size: 105%;
        }

        &::after {
            opacity: 0.9;
        }
    }
    
}

.water-card::before {
    background-image: url("../../public/images/water.jpg");
}

.gas-card::before {
    background-image: url("../../public/images/gas.jpg");
}

.solid-liquid-card::before {
    background-image: url("../../public/images/rock.jpg");
}

.cotton-card::before {
    background-image: url("../../public/images/cotton.jpg");
}